/*
css file for body, nav, footer and main styles
*/

:root {
    --primary-color: #004aad;
    --secondary-color: goldenrod;
    --tertiary-color: #333333;
    --main-font-family: arial, sans-serif;
    --body-bg-color: rgb(240,240,240);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--main-font-family);
    height: 100%;
    margin: 2% auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#logo {
    position: absolute;
    left: 0rem;
    
}

#logo img {
    height: 75px;
    width: 80px;
}


nav {
    background-color: var(--primary-color);
    padding: 3px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
}

nav li > a,
nav li {
    font-size: 25px;
    color: var(--secondary-color);
    margin: 1%;
}

footer > a,
footer > p {
    color: var(--secondary-color);
    margin: 1%;
}

nav > a:hover,
footer > a:hover {
    color: white;
}

h1 {
    font-size: 50px;
}

h1, h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color)
}

@media(max-width: 800px) {
    nav ul {
        margin: 5px;
    }
    nav {
        padding: 1px;
    }
    nav li a, nav li {
        font-size: 12px;
    }
    #logo img {
        height: 25px;
        width: 50px;
    }
}

@media(max-width: 800px) {
    h1 {
        font-size: 25px;
    }
    h2, h3 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
}

/* Hamburger menu */
@media(max-width: 600px) {
    
}