:root {
    --primary-color: #004aad;
    --secondary-color: goldenrod;
    --tertiary-color: #333333;
    --main-font-family: arial, sans-serif;
    --body-bg-color: rgb(240,240,240);
}

form {
    margin: auto;
    background-color: #F2F7F9;
    border: 6px solid var(--secondary-color);
    max-width: 1200px;
    border-radius: 15px;
    padding: 1%; 
}

form > label,
form > input,
form > textarea {
    display: block;
    width: 95%;
    margin: 1% 1% 1% 0%;
    padding: 1%;
}

textarea {
    font-size: 15px;
    border: 1px solid #CEE1E8;
}

input:focus {
    border: 1px solid var(--primary-color);
    background-color: lightgoldenrodyellow;
}

#form-button {
    display: block;
    margin-left: auto;
    margin-right: 2.5%;
    padding: 1.5% 3.5%;
    background-color: var(--primary-color);
    color: white;
}

#form-button:hover {
    background-color: var(--secondary-color);
}

#response {
    margin: auto;
}