.hero-head > p {
    color: black;
}

.hero-head {
    text-align: center;
    color: black;
    padding-left: 20%;
    padding-right: 20%;
}

.h3-cards {
    display: flex;
    margin: 3%; 
}

.h3-cards div > p {
    color: white;
}

.card {
    text-align: center;
    border-radius: 45px;
    margin: 5px;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}